<div class="about bg-success p-2 rounded">
  <h2 class="text-center mt-5 mb-5 text-white">Sobre nós</h2>
  <div class="row text-white">
    <div class="col-md-6">
      <h3><i class="fa fa-check-circle-o"></i> Objetivo</h3>
      <p class="texto">Nós queremos proporcionar uma plataforma prática e acessível,
         que une produtos regionais em um só lugar.
        Aqui você poderá encontrar ou vender produtos produzidos por
         suas prórias mãos, podendo desde artezanatos à alimentos orgânicos.</p>
    </div>
    <div class="col-md-6">
      <h3><i class="fa fa-group"></i> Público alvo</h3>
      <p class="texto">Nosso público alvo são as famílias produtoras da região.
        Aqui poderão orfertar produtos alimentícios como frutas, mel, carnes e grãos.
        Como também produtos artezanais como bordados e ferramentas</p>
    </div>
  </div>
</div>
