<div *ngIf="comentarios$ | async as comentarios" class="mt-2 text-light">

  <div class="mt-4">
    <form [formGroup]="comentarioForm" (submit)="gravar()">
      <h4>Comentar:</h4>
      <div class="input-group">
        <textarea class="form-control" formControlName="comentario" rows="1"></textarea>
        <div class="input-group-append">
          <button
            [disabled]="comentarioForm.invalid"
            class="btn btn-light pull-left ms-3"
          >
            Publicar
          </button>
        </div>
      </div>
      <app-mensagem
        mensagem="Tamanho máximo de 300 caracteres"
        *ngIf="!!comentarioForm.get('comentario')?.errors?.['maxLength']"
      ></app-mensagem>
    </form>
  </div>
</div>
