.link_login{
  text-decoration: none;
}

.menu-sombra{
  box-shadow: 0 2px 20px #004f00;
}

.menu-responsivo{
  cursor: pointer;
}

.menu-icon{
  margin-left: 15%;
}

.logado a{
  margin: 0 10px;
  color: white;
}

.logado i{
  color: white;
}
